.ss-admin-container {
    width: 1000px;
    margin: 0 auto;
}

.ss-admin-body {
    margin: 30px 0;
    min-height: 300px;
}

.ss-admin-head {
    padding: 12px 0;
    background-color: #212121;
} .ss-admin-head a {
    color: #fff;
} .ss-admin-head-logo {
    float: left;
} .ss-admin-head-menu {
    float: right;
} .ss-admin-head-menu ul li {
    float: left;
    padding: 0 9px 0;
    border-right: 1px dotted #eee;
} .ss-admin-head-menu ul li:last-child {
    border-right: 0;
}

.ss-admin-foot {
    padding: 12px 0;
    font-size: 80%;
    border-top: 1px dotted #ccc;
    margin-top: 30px;
} .ss-admin-foot-copy {
    float: left;
} .ss-admin-foot-love {
    float: right;
} .ss-admin-foot-love a {
    color: inherit;
}

.ss-admin-aside {
    float: left;
    width: 150px;
    border-right: 1px dotted #ccc;
    margin-right: 30px;
    padding-right: 30px;
} .ss-admin-aside-box {
    margin-bottom: 12px;
} .ss-admin-aside-box h3 {
    font-size: 135%;
    margin-bottom: 6px;
} .ss-admin-aside-box h3 .fa {
    padding-right: 3px;
} .ss-admin-aside-box ul li {
    font-size: 110%;
    line-height: 130%;
}

.ss-admin-subhead {
    border-bottom: 1px solid #212121;
    padding-bottom: 12px;
} .ss-admin-subhead h3 {
    display: inline;
    font-size: 130%;
}

.ss-admin-page-content {
    float: left;
    width: 788px;
}

.ss-admin-list {
    width: 100%;
    margin-top: 12px;
} .ss-admin-list-title {
    font-size: 14px;
    font-weight: bold;
} .ss-admin-list-content {
} .ss-admin-list-datetime {
    font-size: 11px;
} .ss-admin-list-actions {
    font-size: 11px;
    text-align: center;
    white-space: nowrap;
}

.ss-admin-form {
    display: block;
    margin-top: 12px;
} .ss-admin-form-text {
    width: 98.5%;
} .ss-admin-form div {
    margin-bottom: 12px;
} .ss-admin-form-submit {
    border-top: 1px solid #212121;
    padding-top: 12px;
}

select.ss-admin-list-status {
    padding: 0;
}

.ss-admin-pager {
    border-top: 1px solid #212121;
    margin-top: 22px;
    padding-top: 12px;
} .pager a, .pager .current {
    padding: 0 3px;
}