#editor {
    cursor: text;
    border: 1px solid #212121;
    width: 99.7%;
    height: 250px;
    transition: height 275ms ease;
} #editor.editor-focus {
    /*background-color: #ffe;*/
    outline: 1px solid #212121;
}

#itemContent {
    width: 0;
    height: 0;
    position: absolute;
    visibility: hidden;
}
#itemContent.item-content-visible {
    width: 98.5%;
    height: 242px;
    position: relative;
    visibility: visible;
}

.ss-admin-editor-buttons .fa {
    cursor: pointer;
    color: #444;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    display: inline-block;
    padding: 3px 4px;
    min-width: 12px;
    text-shadow: 0 1px 1px #fff;
    border-radius: 2px;
    border: 1px solid #999;
    background: #f0f0f0;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
    background: -moz-linear-gradient(top, #fff, #ccc);
} .ss-admin-editor-buttons .fa:hover {
    border: 1px solid #777;
} .ss-admin-editor-buttons .fa.fa-active {
    border: 1px solid #777;
    background: #c0c0c0;
}